<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <h2><label for="name">Name</label></h2>
  <input type="text" id="name" name="name">
  <h2><label for="email">E-mail</label></h2>
  <input type="text" id="email" name="email">
  <h2><label for="password">Password</label></h2>
  <input type="password" id="password" name="password">
  <p><input type="submit" id="submit" value="Sign Up"></p>
</form>


